<nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-gray-800"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a href="/"
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white">
            Hacker<br />Hours
            <i class="lg:text-gray-300 text-gray-500 fas fa-home text-lg leading-lg mr-2"></i>
          </a>
          <button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
          id="example-collapse-navbar"
        >
          <ul class="flex flex-col lg:flex-row list-none mr-auto">

            <li class="flex items-center">
              <a href="/blog"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 far fa-question-circle text-lg leading-lg mr-2"></i>
                About
              </a>
            </li>

            <li class="flex items-center">
              <a href="/blog"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 far fa-envelope text-lg leading-lg mr-2"></i>
                Contact
              </a>
            </li>

            <li class="flex items-center">
              <a href="/blog"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 fas fa-tools text-lg leading-lg mr-2"></i>
                DIY
              </a>
            </li>

            <li class="flex items-center">
              <a href="/blog"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 fas fa-ruler text-lg leading-lg mr-2"></i>
                Policies
              </a>
            </li>

            <li class="flex items-center">
              <a href="/blog"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 far fa-plus-square text-lg leading-lg mr-2"></i>
                More
              </a>
            </li>

            <li class="flex items-center">
              <a href="/resources"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 fas fa-book text-lg leading-lg mr-2"></i>
                Resources
              </a>
            </li>

            <li class="flex items-center">
              <a href="/blog"
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold">
                <i class="lg:text-gray-300 text-gray-500 far fa-heart text-lg leading-lg mr-2"></i>
                Success<br />Stories
              </a>
            </li>

          </ul>
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://www.facebook.com"
                ><i
                  class="lg:text-gray-300 text-gray-500 fab fa-facebook text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Share</span></a
              >
            </li>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://twitter.com/abhinav"
                ><i
                  class="lg:text-gray-300 text-gray-500 fab fa-twitter text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Tweet</span></a
              >
            </li>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://github.com/abhinavs/cookie"
                ><i
                  class="lg:text-gray-300 text-gray-500 fab fa-github text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Star</span></a
              >
            </li>
            <!-- <li class="flex items-center">
              <button
                class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                type="button"
                style="transition: all 0.15s ease 0s;"
              >
                <i class="fas fa-arrow-alt-circle-right"></i> Sign Up
              </button>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>