---
layout: default
---
<div class="max-w-screen-xl mx-auto p-8">
    <h1 class="text-3xl font-extrabold leading-9 border-b-2 border-gray-100 text-gray-900 mb-12">
        {{ page.title | escape }}
    </h1>
    <p class="text-lg font-medium leading-6 text-gray-900">
        Resources
    </p>
    <ul class="flex items-start gap-8 flex-wrap">
        {% for card in page.faq %}
        <li class="w-2/5">
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    <h3 class="font-extrabold leading-9 border-b-2 border-gray-100 text-gray-900 mb-12">
                        {{ card.head }}
                    </h3>
                    <ul>
                        {% for item in card.list %}
                        <li class="list-disc">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </p>
        </li>
        {% endfor %}     
    </ul>
</div>
